<a href="https://colab.research.google.com/github/kundetigowtham06/ML/blob/main/Blog_post.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('/content/world_health_data.csv')
data

,country,country_code,year,health_exp,life_expect,maternal_mortality,infant_mortality,neonatal_mortality,under_5_mortality,prev_hiv,inci_tuberc,prev_undernourishment
0,Aruba,ABW,1999,NaN,73.561000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1999,NaN,51.258874,NaN,88.285642,38.433841,142.506373,6.684793,NaN,NaN
2,Afghanistan,AFG,1999,NaN,54.846000,NaN,94.600000,64.000000,135.800000,0.100000,NaN,NaN
3,Africa Western and Central,AFW,1999,NaN,49.726429,NaN,101.541373,44.733554,173.943151,NaN,NaN,NaN
4,Angola,AGO,1999,NaN,45.386000,NaN,123.500000,51.000000,208.000000,1.300000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6645,Kosovo,XKX,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6646,"Yemen, Rep.",YEM,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,NaN
6647,South Africa,ZAF,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427.0,NaN
6648,Zambia,ZMB,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,283.0,NaN
6649,Zimbabwe,ZWE,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211.0,NaN

In [3]:
data.columns

Index(['country', 'country_code', 'year', 'health_exp', 'life_expect',
       'maternal_mortality', 'infant_mortality', 'neonatal_mortality',
       'under_5_mortality', 'prev_hiv', 'inci_tuberc',
       'prev_undernourishment'],
      dtype='object')

In [5]:
data.isnull().sum()

country                     0
country_code                0
year                        0
health_exp               1483
life_expect               460
maternal_mortality       1757
infant_mortality          794
neonatal_mortality        794
under_5_mortality         794
prev_hiv                 2380
inci_tuberc              1221
prev_undernourishment    1845
dtype: int64

In [6]:
data['health_exp'].fillna(data['health_exp'].mean(),inplace=True)

<ipython-input-6-05f22e0acdff>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['health_exp'].fillna(data['health_exp'].mean(),inplace=True)

In [8]:
data.isnull().sum()

country                     0
country_code                0
year                        0
health_exp                  0
life_expect               460
maternal_mortality       1757
infant_mortality          794
neonatal_mortality        794
under_5_mortality         794
prev_hiv                 2380
inci_tuberc              1221
prev_undernourishment    1845
dtype: int64

In [9]:
data['life_expect'].fillna(data['life_expect'].mean(),inplace=True)
data['maternal_mortality'].fillna(data['maternal_mortality'].mean(),inplace=True)
data['infant_mortality'].fillna(data['infant_mortality'].mean(),inplace=True)
data['neonatal_mortality'].fillna(data['neonatal_mortality'].mean(),inplace=True)
data['under_5_mortality'].fillna(data['under_5_mortality'].mean(),inplace=True)
data['prev_hiv'].fillna(data['prev_hiv'].mean(),inplace=True)
data['inci_tuberc'].fillna(data['inci_tuberc'].mean(),inplace=True)
data['prev_undernourishment'].fillna(data['prev_undernourishment'].mean(),inplace=True)

<ipython-input-9-427755a074b4>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['life_expect'].fillna(data['life_expect'].mean(),inplace=True)
<ipython-input-9-427755a074b4>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['maternal_mortality'].fillna(data['maternal_mortality'].mean(),inplace=True)
<ipython-input-9-427755a074b4>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['infant_mortality'].fillna(data['infant_mortality'].mean(),inplace=True)
<ipython-input-9-427755a074b4>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['neonatal_mortality'].fillna(data['neonatal_mortality'].mean(),inplace=True)
<ipython-input-9-427755a074b4>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['under_5_mortality'].fillna(data['under_5_mortality'].mean(),inplace=True)
<ipython-input-9-427755a074b4>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['prev_hiv'].fillna(data['prev_hiv'].mean(),inplace=True)
<ipython-input-9-427755a074b4>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['inci_tuberc'].fillna(data['inci_tuberc'].mean(),inplace=True)
<ipython-input-9-427755a074b4>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['prev_undernourishment'].fillna(data['prev_undernourishment'].mean(),inplace=True)

In [10]:
data.isnull().sum()

country                  0
country_code             0
year                     0
health_exp               0
life_expect              0
maternal_mortality       0
infant_mortality         0
neonatal_mortality       0
under_5_mortality        0
prev_hiv                 0
inci_tuberc              0
prev_undernourishment    0
dtype: int64